@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

a {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

header {
    background-color: red;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px 10px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
}

a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

a:hover{
  background-color: #ddd;
  color: black;
}
/* .links {
    list-style: none;
} */

/* .links li {
    display: inline-block;
    padding: 0px 20px;
} */

/* .links li a {
    transition: all 0.3s ease 0s;
} */

/* .links li a:hover{
    color: red;
} */

button {
    padding: 9px 25px;
    background-color: blue;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background-color: rgba(0, 136, 169, 0.8);
}